
<center><h1 style="line-height: 4cm">Hello. Welcome in daily lolcat app.</h1></center>
<%= simple_form_for @subscription do |f| %>
  <%= f.input :email %>
  <%= f.submit "Sign for subscription" %>
    <% if flash[:notice] %>
    <div class="notice"><%= flash[:notice] %></div>
  <% end %>
<% end %>

<ul> 
  <% @kitties.each do |kitty| %>
    <li>
      <%= image_tag kitty.image.url(:medium) %>
    </li>
  <% end %>
</ul>

<% paginate @kitties %>

