
<h1>Hello. Welcome in daily lolcat app.</h1>

<%= simple_form_for @subscription, html: { class: "form" } do |f| %>
  <%= f.input :email, label: false, placeholder: "Podaj Email" %>
  <%= button_tag "Sign for subscription", class: 'btn' %>
    <% if flash[:notice] %>
    <div class="notice"><%= flash[:notice] %></div>
  <% end %>
<% end %>

<ul class="archive-images"> 

  <% @kitties.each do |kitty| %>
    <li>
      <%= link_to kitty.image.url(:big), target: '_blank' do %>
        <%= image_tag kitty.image.url(:medium) %>
  	  <% end %>
    </li>
  <% end %>
</ul>

<%= paginate @kitties  %>



